.interests{
    color: aliceblue;
    height: 70svh;
    width: 100%;
}
.inner{
    height: 100%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages,.hr{
    height: 100%;
    width: 50%;
}
.languages{
    flex-direction: column;
    font-size: 2em;
}
.languages ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: circle;
    list-style-position: outside;
    padding-left: 2svw;
    font-size: 1.1em;
    color:cyan;
}

.headinglan{
    display: flex;
    font-size: 1.2em;
    align-items: start;
    justify-content: start;
}
.headinglan h1{
    font-size: 2.2em;
    margin-top: 5%;
}
.headinglan h3{
    padding-left: 10px;
}

.hr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hobbies{
    font-weight: 600;
    font-size: 2em;
    padding-top: 10%;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}
.resume{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 4em;
}
.resume2{
    text-decoration: none;
    color: cyan;
    font-weight: 700;
}