.interests{
    color: aliceblue;
    height: 70svh;
    width: 100%;
    padding-top: 8%;
}
.inner{
    height: 100%;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages{
    height: 100%;
    width: 50%;
}
.languages{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
}
.languages ul{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 15%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
}
.languages ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-position: outside;
    list-style: none;
    padding-left: 2svw;
    font-size: 1.1em;
    color:cyan;
}

.headinglan{
    height: 100%;
    width: 50%;
    display: flex;
    font-size: 3em;
    align-items: center;
    justify-content: center;
}
.headinglan h1{
    font-size: 2.2em;
    margin-top: 5%;
}
.headinglan h3{
    padding-left: 10px;
}
