.work {
    color: aliceblue;
    width: 100%;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    background: linear-gradient(145deg, rgba(245, 245, 245, 0.138), black);
    animation: fadein;
    animation-duration: 2s;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.gap{
    height: 150px;
}

.work::-webkit-scrollbar{
    width: 10px;
}
.work::-webkit-scrollbar-track{
    background:trasparent ;
}
.work::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg,white,black);
    border-radius: 5px;
    border: 1px solid black;
}
.work::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(270deg,rgba(255, 255, 255, 0.186),black);
}